*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
    sans-serif;
}

a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
#top-header{
    background:#0096c7;
}
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.menu-item{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
}
.service .services-icons {
    display:none;
    font-size: 35px;
    color: #E02C6D;
    cursor: pointer;
}
.service ul {
    display: flex;
}
.service ul li {
    padding-right: 24px;
}
.service ul li a{
    font-size:16px;
    color:#fff;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    letter-spacing: 1px;
    transition: 0.5s ease-in-out;
}
.service ul li a:hover{
    color: #E02C6D;
}
.login{
    font-size:20px;
    color:#fff;
    text-transform: capitalize;
    font-weight:500;
    padding:15px 30px;
    background:#E02C6D;
    border-radius:30px;
    cursor: pointer;
    transition:0.5s ease-in-out;
}
.login span{
    padding-right: 6px;
}
.login:hover{
    background:#023047;
    box-shadow:4px 4px 6px rgba(0, 0, 0, 0.37)
}

/* banner part start */
#banner{
    background:#0096c7;
    overflow: hidden;
}
.banner-item{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}
.banner-content{
    width: 47%;
    z-index: 1;
    margin-right: 3%;
}
.banner-content h1{
    font-size: 64px;
    color: #fff;
    padding-top: 30px;
    font-weight: 600;
}
.banner-content h1 span{
    color: #E02C6D;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.06);
}
.Development-content button,
.Academy-info button,
.highlights-info button,
.banner-content button{
    border:none;
    outline:none;
    box-shadow: none;
    background:#E02C6D;
    height:44px;
    width: 164px;
    font-size:16px;
    color: #fff;
    border-radius:10px;
    margin-top:15px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.highlights-info button,
.banner-content button span{
    padding-left: 7px;
}
.Development-content button:hover,
.Academy-info button:hover,
.highlights-info button:hover,
.banner-content button:hover{
    background:#023047;
    color: #fff;
    z-index: 10;
}
.banner-img{
    width: 47%;
}
.banner-img img{
    width: 100%;
    animation-name: animatio;
    animation-duration:10s;
    animation-iteration-count: infinite;
    overflow: hidden;
}
@keyframes animatio{
    0%{
        transform:translate(0px);
    }
     50% {
         transform: translate(-20px );
     }
       75% {
           transform: translate(20px);
       }
     100% {
         transform: translate(0px);
     }
}
/* banner part end */
/* players part start */
#players{
    background:#010b13;
    padding: 40px 0;
}
.players-heading h2 {
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 0;
}
.players-heading h2 span {
      color: #E02C6D;
}
.players-border{
    width: 190px;
    height: 4px;
    background:#E02C6D;
    margin:0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
}
.players-info{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 19px;
}
.players-content{
    background:#071e31a4;
    padding:15px ;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}
.players-content:hover{
    box-shadow: 20px 20px 40px rgba(0,0,0,1);
}
.players-content img{
    width: 100%;
    height:256px;
}
.players-content h3{
    font-size: 28px;
    color: #E02C6D;
    font-weight: 600;
    padding: 10px 0;
}
.players-content p{
    font-size:16px;
    color:#ddd;
    
}
.players-content button{
    height:40px;
    width: 150px;
    letter-spacing: 1px;
    color: #fff;
    background-color: #E02C6D;
    border-radius: 10px;
    margin-top:15px;
    font-weight: 500;
    cursor: pointer;
    text-transform: capitalize;
    border: none;
    box-shadow:none;
    outline: none;
    transition: 0.5s ease-in-out;
}
.players-content button:hover{
    background:#023047;
    box-shadow:4px 4px 6px rgba(14, 13, 13, 0.774)
}
/* players part end */

/* highlights part start*/
#highlights{
    background: #071e31;
    box-shadow:20px 20px 40px rgba(0, 0, 0.1);
    padding: 50px 0;
}
.highlights-content{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.highlights-info h2{
   color: #fff;
   font-size:48px;
   font-weight: 600;
}
.highlights-info h2 span{
    color: #E02C6D;
}
.Academy-info article,
.highlights-info article{
    font-size:16px;
    color: #ddd;
    line-height: 32px;
}
.highlights-img img{
    width: 100%;
    height:427px;
}
/* highlights part end*/
/* Academy part start */
#Academy{
    background:#010b13;
    padding:40px 0;
}
.Academy-content{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.Academy-img img{
    width: 100%;
    height:100%;
}
.Academy-info{
   background: #071e31a4;
   padding: 30px;
   box-shadow:20px 20px 40px rgba(0,0,0.1)
}
.Development-content h6,
.Academy-info h6{
    font-size:16px;
    color: #E02C6D;
    font-weight:400;
    letter-spacing:1px;
}
.Development-content h2,
.Academy-info h2{
    color: #fff;
    font-size:48px;
    line-height: 55px;
    padding-bottom: 10px;
}
.Development-content h2 span,
.Academy-info h2 span{
    color: #E02C6D;
}
/* Academy part start end */
/* gallery part start */
#gallery{
     background: #071e31;
     padding: 30px 0;
}
.gallery-info{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 10px;
    grid-column-gap: 20px;
}
.gallery-img{
    overflow: hidden;
}
.gallery-img img{
    width: 100%;
    box-shadow:20px 20px 20px #071e31;
    transition: 0.5s;
}
.gallery-img:hover img{
    transform: scale(1.2);
}
/* gallery part end */
/* Development part start */
#development{
    background:url(../img/banner2.webp);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height:100vh;
}
.development-info{
    width: 100%;
   display:flex;
   justify-content:space-between;
}
.empty{
    width: 60%;
}
.Development-content{
    width: 40%;
    padding-top:80px;
}
/* Development part end */
/*  */
/* footer part start */
#footer{
    padding: 50px 0;
    background:#fff;
    background-color: #08070d;
}
.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-img{
    width: 500px;
}
.footer-img img{
    width: 100%;
}
.footer-social-icons{
    display: block;
    text-align: center;
    margin-bottom: 15px;
}
.footer-social-icons a{
    display: inline-block;
    height:45px;
    width: 45px;
    background:#0096c7;
    color: #fff;
    border-radius:50%;
    line-height:45px;
    font-size:20px;
    margin-right: 10px;
    transition: 0.5s;
}
.footer-social-icons a:hover{
    background:#ddd;
    color: #023047;
    transform: translatey(-7px);
}
.footer-copy-right{
    text-align:center;
}
.footer-copy-right h6{
    color: #ddd;
    font-size:14px;
    font-weight:400;
    letter-spacing:1px;
}
/* footer part end */
/* responsive part */
@media only screen and (max-width: 992px) {
    .banner-content h1 {
        font-size: 55px;
        padding: 30px 16px 0 16px;
    }
    .banner-content button{
        margin-left: 16px;
    }
    .highlights-info{
        padding: 0 20px;
    }
    .Development-content {
        width: 40%;
        padding-top: 0px;
    }
    
   .Development-content h2{
           color: #fff;
           font-size: 36px;
           line-height: 43px;
   }
}
@media only screen and (max-width: 768px){
    .service ul{
        display:none;
    }
    .service .services-icons{
        display:block;
    }
    .login{
        padding: 7px 30px;
        font-size: 15px;
    }
    .banner-content h1{
        font-size:38px;
    }
    .players-info{
        margin:0 15px;
    }
    .players-info{
        grid-template-columns: repeat(2, 1fr);
    }
    .Academy-info h2,
    .highlights-info h2{
        font-size:35px;
    }
    .Academy-info article,
    .highlights-info article{
        font-size:14px;
        line-height:27px;
    }
}
@media only screen and (max-width: 576px){
    .banner-content h1{
        font-size: 27px;
    }
    .banner-img img{
        margin-top: 10px;
    }
     .players-info {
         grid-template-columns: repeat(1, 1fr);
     }
     .highlights-content {
         display: flex;
         align-content: center;
         flex-wrap: wrap;
     }
     .highlights-info button{
         margin-bottom: 10px;
     }
     .Academy-content {
         display: flex;
         flex-wrap: wrap;
     }
     .gallery-info{
         grid-template-columns: repeat(2, 1fr);
     }
     .Development-content h2{
         font-size:24px;
         line-height:30px;
     }
     .Development-content article{
         font-size:14px;
     }
     .Development-content button{
         height: 36px;
         width: 139px;
         font-size: 14px;
     }
}




































